body{
    height:100vh;
}

#start, #continue{
    border-radius: 50px;
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.grids{
    z-index: 999;
}

.col{
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}

img{
    height:100%;
    width:30%;
    border-radius: 50px;
}