body{
    height:100vh;
}

.dark{
    background-color: #18112c;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

#start, #continue{
    border-radius: 50px;
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.col{
    background-color: antiquewhite;
}

#mode-light, #mode-dark{
    height:50px;
    width: 50px;
    margin-left:auto;
    z-index:9;
    transition: 30ms ease-in-out;
}

#mode-light:hover, #mode-dark:hover{
    translate: 0px -10px;
}

img{
    height:100%;
    width:30%;
    border-radius: 50px;
}

.btn-primary{
    background-color: #f72585;
    border-color: black;
}

.btn-primary:hover, .btn-primary:focus{
    border-color: black;
    background-color: #7209b7;
}

.btn-primary:active{
    background-color: #f72585 !important;
    border-color: black !important;
}


.btn-secondary{
    background-color: #3a0ca3 ;
    border-color: black;
}

.btn-secondary:hover, .btn-secondary:focus{
    border-color: black;
    background-color: #4361ee;
}

.btn-secondary:active{
    background-color: #3a0ca3 !important;
    border-color: black !important;
}

select{
    background-color: #a8e9fd;
}

#grids{
    z-index: 999;
}